@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Roboto", sans-serif;
  background-color: #0a0b0d;
}

.slick-dots li.slick-active button:before {
  color: White !important;
}
